@using ItlaTv.Core.Application.ViewModels.Genres;

@model CreateGenreViewModel

@{
    ViewData["Title"] = "Remove: Genre";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger bg-gradient text-light">
                <h4>Are you sure you want to remove @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Genre" asp-action="RemoveGenrePost">
                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex flex-row justify-content-end gap-2">
                        <button type="submit" class="btn btn-success">Yes</button>
                        <a asp-controller="Genre" asp-action="Index" class="btn btn-secondary">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

